version: "3.9"
services:
  service1:
    container_name: template_service1
    build:
      context: ./service1
    volumes:
      - ./service1:/service1
    environment:
      - RABBITMQ_HOST=template_rabbitmq
      - RABBITMQ_PORT=5673
    networks:
      - app-network

  service2:
    container_name: template_service2
    build:
      context: ./service2
    volumes:
      - ./service2:/service2
    environment:
      - RABBITMQ_HOST=template_rabbitmq
    networks:
      - app-network

networks:
  app-network:
    external: true
