version: "3.9"
services:
  rabbitmq:
    container_name: template_rabbitmq
    image: rabbitmq:3-management
    ports:
      - "5673:5672"
      - "15673:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
      - RABBITMQ_HOST=template_rabbitmq
    networks:
      - app-network

networks:
  app-network:
    external: true
