version: "3.9"
services:
  jaeger:
    container_name: template_jaeger
    image: jaegertracing/all-in-one:1.51
    ports:
      - "16686:16686"
      - "6831:6831/udp"
    environment:
      - RABBITMQ_HOST=template_rabbitmq
    networks:
      - app-network

networks:
  app-network:
    external: true
