services:
  rabbitmq:
    container_name: rabbitmq
    image: "rabbitmq:3-management"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "15673:15672"   # RabbitMQ Management UI (host:15673 -> container:15672)
      - "5673:5672"     # RabbitMQ AMQP (host:5673 -> container:5672)
    networks:
      - app-network

networks:
  app-network:
    external: true
